<form action='/addUser' method='post'>
  <div>
    <label for='name'>Name :</label>
    <input type='text' name='name'>
  </div>
  <div>
    <label for='email'>Email :</label>
    <input type='email' name='email'>
  </div>
  <div>
    <label for='url'>Favourite URL :</label>
    <input type='text' name='url'>
  </div>
  <div>
    <label for='picture'>Profile Picture:</label>
    <input type='text' name='picture'>
  </div>
    <input type='submit' value='save'>
</form>
