<h1>List All Blog Posts</h1>
{{#each posts}}
  <div class='post'>
      <div class='title'><b>{{title}}</b></div>
      <div class='content'>{{content}}</div>
      <div class='userName'><i>{{name}}</i></div>
  </div>
{{/each}}

<a href="/addPost">Add New Post</a>
