<h1>List All Blog Posts</h1>
{{#each posts}}
  <div class='post'>
      <div class='title'><a href="blogs/{{id}}"><b>{{title}}</b></a></div>
      <div class='userName'><i>{{name}}</i></div>
  </div>
{{/each}}

<a href="/addPost">Add New Post</a>
