<!DOCTYPE html>
<html>

<head>
  <title>EDA Phase 1 Express Boilerplate</title>
</head>

<body>
  <table>
    {{#each profiles}}
    <tr>
      <td>{{pid}}</td>
      <td>{{url}}</td>
      <td>{{name}}</td>
    {{/each}}
   </tr>
  </table>
</body>

</html>
