  <table>
    {{#each profiles}}
    <tr>
      <td>{{pid}}</td>
      <td><a href="{{url}}">Favourite Link</a></td>
      <td><a href="/profile/{{uid}}">{{name}}</a></td>
    {{/each}}
   </tr>
  </table>
